.bg_main{
    background-image: url("./img/bg-header.png");
    height: 1000px;
    
}
.btn{
    color: #2ac3c6!important;
}

*{
    color:#fff;
    
}

.p-top{
    padding-top: 100px;
}

.btn{
    background-color: #fff;
    color: aquamarine;
    
}

.title-span{
    font-size: 1.2rem;
    margin: 30px;
    
}

.black-h{
    color: #565656;

}

.row-img-b>div>h4{
   
}

.img-w{
    width: 65px;
}

.img-span{
    color: #99aeb9;
}
.circle-1{
width: 64px;
height: 64px;
background-color: #eafffa;
border-radius: 50%;
position: relative;
top: -85px;
left: 20%;
}

.circle-2{
    top: -50px;
    left: 60%;
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-top: -24px;
    background: #e0f9fe;
    
}

.nav-link{
    color: #fff;
    transition: all 1s ;
    
}
.nav-link:hover{
   
    color: rgb(122, 122, 122);
}


.margined-h{
    margin: 100px 0;
}

.btn{
        border-radius: 40px;
    padding: 10px 30px;
}

.margined-row{
    margin-top: 80px;
}

.display-1::before{
content: "|";
font-weight: 500;
position: relative;
right: 50px;

}

.li-bef {
    color: #565656;
    font-size: 22px;
    margin-top: 45px;
    list-style:  none;
}
.li-bef::before{
    content: "|";
font-weight: 300;
position: relative;
right: 50px;
color: #2ac3c6
}

ul{
    
}

.bg-gradient{
    margin-top: 100px;
    background: rgb(1,196,204);
background: linear-gradient(90deg, rgba(1,196,204,1) 0%, rgba(44,214,152,1) 92%);
padding: 100px;


}

.bordered-right{
    border-right: 1px solid #54e2cc;
}

.sol-li{
    margin-top: 50px;
}